{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "settings": {
    "import/ignore": [
      ".*\\/antd.js",
      ".*\\antd.js"
    ]
  },
  "globals": {
    "document": false,
    "window": false,
    "webview": false
  },
  "rules": {
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allowAfterThis": true
      }
    ],
    "arrow-parens": [
      "warn",
      "as-needed"
    ],
    "max-len": [
      "warn",
      120
    ],
    "padded-blocks": [
      "error",
      {
        "classes": "always"
      }
    ],
    "no-nested-ternary": "off",
    "global-require": "off",
    "no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ],
    "no-console": "warn",
    "arrow-body-style": "off",
    "react/no-multi-comp": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/require-default-props": "warn",
    "react/prop-types": "warn",
    "react/no-string-refs": "warn",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/jsx-indent": [
      "error",
      4
    ],
    "react/jsx-indent-props": [
      "error",
      4
    ],
    "react/no-unused-state": "warn",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "import/no-extraneous-dependencies": "off"
  }
}
